.pinned-photo {
  img {
    width: 100%;
  }
  width  : 100%;
  padding: 5px;
  margin-bottom: 5px;
  background: $first-white;
  // border : 1px solid black;
  border-radius: 2px;
}

.photo-column {
  padding: 1px;
}

.photo-desc {
  margin-top: 5px;
  border-radius: 2px;
  background-color: $second-white;
  color: pick-contrast($second-white);
  text-align: center;
}

.photo-user {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  // align-items: center;
  margin-top: 5px;
  border-radius: 2px;
  background-color: $first-white;
  color: pick-contrast($first-white);
  text-align: center;
  word-wrap: break-word;

  img {
    height: 40px;
    width: 40px;
  }

  button {
    height: 40px;
    width: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}

.photo-delete {
  align-self: center;
  color: pick-contrast($first-white);
}
